::selection {
  background-color: rgba($accent-color, .2);
}

body {
  color: $text-color;
  font:{
    family: $font-family;
    size: 1rem;
    weight: 300;
  }
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  background-color: $bg-color-end;
  background: #34495e;
  background: linear-gradient(to bottom right, $bg-color-start, $bg-color-end) fixed;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  &.show-menu {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

a {
  color: $accent-color-light;
  text-decoration: none;
  transition: $default-transition;
  text-shadow: 0 0 0 $accent-color-light;
  &:hover {
    color: lighten($accent-color-light, 5%);
  }
  &:active {
    color: darken($accent-color-light, 15%);
  }
}

p {
  margin: 0 0 1rem;
}

#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#container {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}
