::selection {
  background-color: color(var(--accent-color) (20%));
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  background-color: var(--bg-color-end);
  background: #34495e;
  background: linear-gradient(to bottom right, var(--bg-color-start), var(--bg-color-end)) fixed;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  &.show-menu {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

a {
  color: var(--accent-color-light);
  text-decoration: none;
  transition: var(--default-transition);
  text-shadow: 0 0 0 var(--accent-color-light);
  &:hover {
    color: color(var(--accent-color-light) l(5%));
  }
  &:active {
    color: color(var(--accent-color-light) l(-15%));
  }
}

p {
  margin: 0 0 1rem;
}

#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#container {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}
