%image-replace {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}

%clearfix::after {
  content: '';
  display: block;
  clear: both;
}

%quicksand {
  font: {
    weight: 300;
    family: Quicksand, $font-family;
  }
}
