.hidden {
	display:none !important;
}

.button {
  @apply --button;
}

.two-columns {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -1rem;
  margin-right: -1rem;
  & > * {
    margin: 0 1rem 1rem;
    width: calc(100% - 2rem);
    @media (--medium) {
      width: calc(50% - 2rem);
    }
  }
}

.hexagon {
  position: relative;
  width: 128px; 
  height: 74px;
  margin: 37px 0;
  background-size: auto 147.8px;
  background-position: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 74px;
    z-index: 2;
    background: inherit;
  }
  & .hexTop, & .hexBottom {
    position: absolute;
    z-index: 1;
    width: 91px;
    height: 90.51px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 19px;
    backface-visibility: hidden;
    &::after, &::after {
      content: '';
      position: absolute;
      width: 128px;
      height: 73.9px;
      transform: rotate(45deg) scaleY(1.7321) translateY(-36.9504px);
      transform-origin: 0 0;
      background: inherit;
    }
  }
  & .hexTop {
    top: -45.2548px;
    &::after {
      background-position: center top;
    }
  }
  & .hexBottom {
    bottom: -45.2548px;
    &::after {
      background-position: center bottom;
    }
  }
}







