:root {
  --font-family: Quicksand, 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'Yu gothic', '游ゴシック Light', 'メイリオ', Meiryo, sans-serif;
  --easing: ease-in-out;
  --duration: .4s;
  --default-transition: all var(--duration) var(--easing);

  /*color*/
  --accent-color: #c0392b;
  --accent-color-light: #e74c3c;
  --second-accent-color: #2c3e50;
  --text-color: #dfdfdf;
  --bg-color-start: color(var(--second-accent-color) l(+5%));
  --bg-color-end: color(var(--second-accent-color) l(-20%));
  --border-color: color(#fff a(50%));
}
