@import '_variables';

:root {
  --slider-boal-size: 20px;
  --slider-np-button-size: 30px;
  --slider-np-button-offset: 10px;
}

.works-slider {
  position: relative;  
  &-frame {
    overflow: hidden;
  }
  &-slides {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  &-slide {
    min-width: 100%;
    text-align: center;
    transition: var(--default-transition);
  }
  &-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: relative;
    z-index: 1;
    & > li {
      width: var(--slider-boal-size);
      height: var(--slider-boal-size);
      margin: 0 .5rem;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #fff;
      &.active {
        pointer-events: none;
      }
    }
  }
  &-boal {
    width: var(--slider-boal-size);
    height: var(--slider-boal-size);
    background: var(--accent-color);
    opacity: .7;
    bottom: 0;
    border: 1px solid transparent;
    z-index: 0;
    border-radius: 50%;
    margin: 0;
    position: absolute;
    transition: var(--default-transition);
    display: none;
  }
  &-prev, &-next {
    position: absolute;
    top: 50%;
    border: 4px double color(#fff a(95%));
    transform: rotate(45deg);
    width: var(--slider-np-button-size);
    height: var(--slider-np-button-size);
    background: none;
    outline: none;
    transition: var(--default-transition);
    &:disabled {
      opacity: 0;
    }
  }
  &-prev {
    left: var(--slider-np-button-offset);
    border-right: none;
    border-top: none;
  }
  &-next {
    right: var(--slider-np-button-offset);
    border-bottom: none;
    border-left: none;
  }
  @media (--medium) {
    & h4 {
      text-align: center;
    }
  }
}
