@import 'variables';

#form {
  margin: 2rem auto 1rem;
  position: relative;
  width: 100%;
  @media (--medium) {
    width: 50%;
  }
  & label {
    background: #fcfcfc;
    background-color: transparent;
    display: block;
    padding: 0 .5rem;
    line-height: 2.2;
    font-size: .9rem;
    position: absolute;
    color: color(#fff a(90%));
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid color(#fff a(10%));
    background-color: color(#fff a(2%));
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  & input, & textarea {
    border: 1px solid var(--border-color);
    border-bottom-width: 0;
    background: transparent;
    display: block;
    width: 100%;
    padding: 2.2rem .5rem .3rem;
    line-height: 1.7;
    outline: none;
    box-sizing: border-box;
    transition: var(--default-transition);
    &:last-of-type {
      border-bottom-width: 1px;
    }
    &:hover, &:focus {
      background-color: color(#fff a(8%));
    }
  }
  & textarea {
    resize: vertical;
  }
  & input[type='submit'] {
    @apply --button;
    margin-top: 1rem;
  }
}
