@import 'variables';
@import 'works';
@import 'about';
@import 'contact';

main {
  max-width: 960px;
  margin: auto;
  & > section {
    min-height: calc(100vh - 4rem);
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: transparent linear-gradient(to right, color(#000 a(0%)) 25%, color(#888 a(20%)) 50%, color(#000 a(0%)) 75%);
      left: 0;
      top: 0;
    }
    & h3, & h4, & h5 {
      @apply --quicksand;
      color: color(var(--text-color) l(+10%));
    }
    & h3 {
      margin: 0 0 1rem;
      font-size: 2rem;
      text-align: center;
      opacity: .9;
      font-weight: bold;
    }
    & h4 {
      font-size: 2rem;
      margin: 0 0 1rem;
      text-align: center;
      @media (--medium) {
        text-align: left;
      }
    }
    & h5 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 0 .2rem;
    }
  }
}
