@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import "~normalize.css";
@import "variables";
@import "css/mixins";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  position: relative;
  overflow: auto;
}

body {
  max-width: 100vw;
  overflow: hidden;
  color: var(--text-color);
  font-family: $font-family;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  background-color: var(--bg-color);
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  img {
    filter: brightness(80%);
    &:hover {
    filter: brightness(100%);
  }
  }
}


::selection {
  background-color: rgba($accent-color, .2);
}

a {
  color: $accent-color-light;
  text-decoration: none;
  transition: $default-transition;
  &:hover {
    color: lighten($accent-color-light, 5%);
  }
  &:active {
    color: darken($accent-color-light, 15%);
  }
}

:global {

  .container {
    margin: 0 1rem;
    position: relative;
    max-width: 1024px;
  }

  @media screen and (min-width: 1024px) {
    .container {
      margin: auto;
      padding: 0 1rem;
    }
  }
  .hidden {
    display: none !important;
  }
  
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .text-center {
    text-align: center;
  }
}

