@import 'variables';
@import 'mixin';

#top {
  @apply --quicksand;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#logo {
  margin: 0 0 1rem;
}

#logo a, #site-description {
  color: #fff;
}

#site-description {
  font-size: 1.3rem;
}

:root {
  --scroll-down-size: 30px;
  --scroll-down-border-width: 1px;
  --scroll-down-border-color: color(var(--accent-color) a(70%));
}

#scroll-down {
 position: absolute;
  transform: rotate(45deg);
  border: var(--scroll-down-border-width) solid var(--scroll-down-border-color);
  border-top: none;
  border-left: none;
  left: 50%;
  margin-left: calc(-var(--scroll-down-size) / 2 - var(--scroll-down-border-width));
  width: var(--scroll-down-size);
  height: var(--scroll-down-size);
  display: block;
  transition: var(--default-transition);
  animation: bound .5s ease-in-out infinite alternate;
  backface-visibility: hidden;
  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: var(--scroll-down-border-width) solid var(--scroll-down-border-color);
    border-top: none;
    border-left: none;
  }
  &::before {
    right: -10px;
    bottom: -10px;
  }
  &::after {
    right: -19px;
    bottom: -19px;
  }
}

@keyframes bound {
  from {
    opacity: .5;
    bottom: 100px;
  }
  to {
    bottom: 105px;
    opacity: 1;
  }
}

#global-nav {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: color(var(--bg-color-start) l(-10%) a(95%));
  transition: var(--default-transition);
  display: none;
  z-index: 874;
  display: table;
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
    & ul {
      transform: scale(1) rotateX(0);
      visibility: visible;
    }
  }
  & ul {
    visibility: hidden;
    transition: var(--default-transition);
    transform: scale(.2) rotateX(180deg);
    vertical-align: middle;
    display: table-cell;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 2rem;
    line-height: 2;
    & > li a {
      color: #fff;
      width: 100%;
      display: block;
      &.active {
        text-decoration: line-through;
      }
    }
  }
}

:root {
  --toggle-menu-size: 30px;
  --toggle-menu-offset: 10px;
}

#toggle-menu {
  @apply --image-replace;
  position: fixed;
  top: var(--toggle-menu-offset);
  right: calc(100vw - 100%);
  z-index: 5123;
  border: none;
  width: var(--toggle-menu-size);
  height: var(--toggle-menu-size);
  background: none;
  padding: 10px;
  margin: 0 calc(100% - 100vw + var(--toggle-menu-offset)) 0 0;
  outline: none;
  cursor: pointer;
  box-sizing: content-box;
  transition: var(--default-transition);
  &:hover {
    transform: scale(1.05);
  }
  &.show #toggle-menu-border {
    background-color: transparent;
    &::before, &::after {
        top: 50%;
        bottom: 50%;
        transform-origin: center;
        background-color: var(--accent-color);
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
  }
}

:root {
  --toggle-menu-border-color: color(#fff a(95%));
  --toggle-menu-border-height: 2px; 
}

.show #toggle-menu-border {}

#toggle-menu-border {
  margin: auto;
  display: block;
  height: var(--toggle-menu-border-height);
  position: relative;
  background-color: var(--toggle-menu-border-color);
  transition: var(--default-transition);
  &::before, &::after {
    transition: var(--default-transition);
    position: absolute;
    content: '';
    height: var(--toggle-menu-border-height);
    left: 0;
    display: block;
    width: 100%;
    margin: auto;
    background-color: var(--toggle-menu-border-color);
    transform-origin: right center;
  }
  &::before {
    top: calc(-var(--toggle-menu-border-height) * 5);
  }
  &::after {
    bottom: calc(-var(--toggle-menu-border-height) * 5);
  }
}
