main {
  transform: translate3d(0, 0, 0);
  overflow: hidden;
  margin: 0;
  width: 100%;
  @include sp{
    min-height: 100%;
  }
  > section {
    @include miniclearfix;
    margin-top: 0;
    box-shadow: 0 1px 10px 3px rgba(#000, 0.1);
    position: relative;
    
    &:nth-child(odd) .right-wrapper {
      background-color: #f2f2f2;
      &:before {
        background-color: darken(#f2f2f2, 20%);
      }
    }
    &:nth-child(even) .right-wrapper {
      background-color: #ececec;
      &:before {
        background-color: darken(#ececec, 20%);
      }
    }
    @include sp{
      height: 100%;
      min-height: 100%;
    }
    .left-wrapper, .right-wrapper {
      @include sp{
        min-height: 100%;
        float: none;
        margin: auto 0;
        width: auto;
        padding: 0;
        box-shadow: none;
      }
    }
    .left-wrapper .left, .right-wrapper .right {
      padding-bottom: 50px;
      padding-top: 50px;
      position: relative;
      width: $column_width;
      &.delay-transition {
        transition: opacity 1s ease-in-out;
      }
      &.visible {
        opacity: 1;
      }
      &.invisible {
        opacity: 0;
      }
    }
    .left-wrapper {
      margin-left: -$side_margin;
      position: relative;
      z-index: 1;
      @include large {
        width: 40%;
      }
      @include small {
        margin-left: 0;
      }
      @include sp {
        width: 100%;
        min-height: initial !important;
      }
      &:after {
        background-color: #cdcdcd;
        right: -2px;
        content: '';
        height: 100%;
        position: absolute;
        top: 0;
        width: 1px;
        z-index: 1;
      }
     .left {
        float: right;
        margin-right: -$side_margin;
        padding-left: $side_margin;
        padding-right: $side_margin;
        position: relative;
        @include large {
          width: 300px;
        }
        @include medium {
          width: 250px;
        }
        @include small {
          width: 250px;
        }
        @include sp {
          float: none;
          width: 100%;
          margin-right: 0;
          padding-left: 0;
          padding-right: 0;
        }
        &:after {
          content: '';
          border-top: 3px solid rgba(0, 0, 0, 0.1);
          width: 1000px;
          height: 0;
          position: absolute;
          top: 96px;
          left: -1020px;
        }
        h3 {
          @extend %image-replace;
          background: transparent none $side_margin top no-repeat;
          color: #f2f2f2;
          font-size: 285.715%;
          height: 60px;
          margin: 0 auto 30px;
          padding: 20px 0;
          position: relative;
        }
      }
    }
    .right-wrapper {
      padding-left: $side_margin;
      position: relative;
      box-shadow: 15px 0 10px -10px rgba(#000, 0.3) inset;
      @include miniclearfix;
      @include large {
        width: 60%;
      }
      @include small {
        box-sizing: border-box;
        width: 60%;
        padding: 0 20px;
      }
      @include sp {
        box-sizing: content-box;
        width: 100%;
        padding: 0;
        box-shadow: none;
      }
      .right{
        @include small {
          max-width: 100%;
        }
        @include sp {
          margin:0 1em;
          float:none;
          width: auto;
        }
      }
    }
  }
}
