main {
  max-width: 960px;
  margin: auto;
  > section {
    min-height: calc(100vh - 4rem);
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: transparent linear-gradient(to right, rgba(#000, 0) 25%, rgba(#888, .2) 50%, rgba(#000, 0) 75%);
      left: 0;
      top: 0;
    }
    h3, h4, h5 {
      @extend %quicksand;
    }
    h3 {
      margin: 0 0 1rem;
      font-size: 2rem;
      text-align: center;
      opacity: .9;
      font-weight: bold;
    }
    h4 {
      font-size: 2rem;
      margin: 0 0 1rem;
      text-align: center;
      @include medium {
        text-align: left;
      }
    }
    h5 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 0 .2rem;
    }
  }
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  > li {
    display: inline-block;
    margin-right: 1rem;
    a {
      $height: 1px;
      display: inline-block;
      border-bottom: $height solid darken($bg-color-start, 5%);
      position: relative;
      font-weight: bold;
      opacity: .9;
      &::after{
        content: '';
        position: absolute;
        left: 50%;
        bottom: -$height;
        height: $height;
        transition: $default-transition;
        width: 0;
      }
      &:hover {
        opacity: 1;
        &::after {
          background-color: darken($bg-color-start, 10%);
          width: 100%;
          left: 0;
        }
      }
    }
  }
}

#profile {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  dl {
    margin: 0;
    width: 100%;
    dt {
      text-transform: uppercase;
      font-size: .8rem;
      color: #ccc;
      border-bottom: 3px double $accent-color;
      display: inline-block;
      padding-right: .5rem;
      &:hover {
        &, + dd {
          color: lighten($text-color, 5%);
        }
      }
    }
    dd {
      border-top: 3px double rgba(#fff, .2);
      margin: -3px 0 .5rem;
    }
  }
}

#avatar {
  min-width: 128px;
  margin: 0 1rem 0 0;
  transition: transform 1s ease-in-out;
  &:hover {
    transform: rotate(360deg);
  }
}

#form{
  margin: 2rem auto 1rem;
  position: relative;
  width: 100%;
  @include medium {
    width: 50%;
  }
  label{
    background: #fcfcfc;
    background-color: transparent;
    display: block;
    padding: 0 .5rem;
    line-height: 2.2;
    font-size: .9rem;
    position: absolute;
    color: rgba(#fff, .9);
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(#fff, .1);
    background-color: rgba(#fff, .02);
    text-transform: uppercase;
    &:hover {
      cursor: pointer;
    }
  }
  input, textarea{
    border: 1px solid $border-color;
    border-bottom-width: 0;
    background: transparent;
    display: block;
    width: 100%;
    padding: 2.2rem .5rem .3rem;
    line-height: 1.7;
    outline: none;
    box-sizing: border-box;
    transition: $default-transition;
    &:last-of-type{
      border-bottom-width: 1px;
    }
    &:hover, &:focus {
      background-color: rgba(#fff, .08);
    }
  }
  textarea{
    resize: vertical;
  }
  input[type='submit']{
    @extend .button;
    margin-top: 1rem;
  }
}