@import 'variables';

#top {
  @extend %quicksand;
  min-height: 100vh;
  position: relative;
  display: table;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#logo {
  margin: 0 0 1rem;
}

#logo a, #site-description {
  color: #fff;
}

#site-description {
  font-size: 1.3rem;
}

#scroll-down {
  $size: 30px;
  $border-width: 1px;
  $border-color: rgba($accent-color, .7);
  position: absolute;
  transform: rotate(45deg);
  border: $border-width solid $border-color;
  border-top: none;
  border-left: none;
  left: 50%;
  margin-left: -$size / 2 - $border-width;
  width: $size;
  height: $size;
  display: block;
  transition: $default-transition;
  animation: bound .5s ease-in-out infinite alternate;
  backface-visibility: hidden;
  &:hover {
    animation: none;
    bottom: 100px;
  }
  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: $border-width solid $border-color;
    border-top: none;
    border-left: none;
  }
  &::before {
    right: -10px;
    bottom: -10px;
  }
  &::after {
    right: -19px;
    bottom: -19px;
  }
}

@keyframes bound {
  from {
    opacity: .5;
    bottom: 100px;
  }
  to {
    bottom: 105px;
    opacity: 1;
  }
}

#global-nav {
  position: fixed;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(darken($bg-color-start, 10%), .95);
  transition: all .3s ease;
  display: none;
  z-index: 874;
  display: table;
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
  }
  ul {
    @at-root .show#{&} {
      transform: scale(1) rotateX(0);
      visibility: visible;
    }
    visibility: hidden;
    transition: all .3s ease;
    transform: scale(.2) rotateX(180deg);
    vertical-align: middle;
    display: table-cell;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    font-size: 2rem;
    line-height: 2;
    > li {
      a {
        color: #fff;
        width: 100%;
        display: block;
        &.active {
          text-decoration: line-through;
        }
      }
    }
  }
}

#toggle-menu {
  @extend %image-replace;
  $size: 30px;
  $offset: 10px;
  position: fixed;
  top: $offset;
  right: calc(100vw - 100%);
  z-index: 5123;
  border: none;
  width: $size;
  height: $size;
  background: none;
  padding: 10px;
  margin: 0 calc(100% - 100vw + #{$offset}) 0 0;
  outline: none;
  cursor: pointer;
  box-sizing: content-box;
  transition: $default-transition;
  &:hover {
    transform: scale(1.05);
  }
}

#toggle-menu-border {
  $color: rgba(#fff, .95);
  $height: 2px;
  margin: auto;
  display: block;
  height: $height;
  position: relative;
  background-color: $color;
  transition: all .3s ease;
  &.show {
    background-color: transparent;
  }
  &::before, &::after {
    transition: all .3s ease;
    position: absolute;
    content: '';
    height: $height;
    left: 0;
    display: block;
    width: 100%;
    margin: auto;
    background-color: $color;
    transform-origin: right center;
  }
  &.show::before, &.show::after {
    top: 50%;
    bottom: 50%;
    transform-origin: center;
    background-color: $accent-color;
  }
  &::before {
    top: -$height * 5;
  }
  &.show::before {
    transform: rotate(-45deg);
  }
  &::after {
    bottom: -$height * 5;
  }
  &.show::after {
    transform: rotate(45deg);
  }
}