@mixin rotate($n) {
	-moz-transform: rotate($n);
	-o-transform: rotate($n);
	-webkit-transform: rotate($n);
	transform: rotate($n);
}

@mixin scale($n) {
	-moz-transform: scale($n);
	-o-transform: scale($n);
	-webkit-transform: scale($n);
	transform: scale($n);
}

@mixin skewX($n) {
	-moz-transform: skewX($n);
	-o-transform: skewX($n);
	-webkit-transform: skewX($n);
	transform: skewX($n);
}

@mixin skewY($n) {
	-moz-transform: skewY($n);
	-o-transform: skewY($n);
	-webkit-transform: skewY($n);
	transform: skewY($n);
}

@mixin skew($x, $y) {
	-moz-transform: skewY($x, $y);
	-o-transform: skewY($x, $y);
	-webkit-transform: skew($x, $y);
	transform: skewY($x, $y);
}

@mixin transform-origin($x: 50%, $y: 50%) {
	-moz-transform-origin: $x, $y;
	-ms-transform-origin: $x, $y;
	-o-transform-origin: $x, $y;
	-webkit-transform-origin: $x, $y;
	transform-origin: $x, $y;
}

@mixin little-shadow {
	box-shadow: 0 0px 2px 2px rgba(#aaa, 0.5);
}