@each $name, $map in $sections{
  $index: map-get($map, index);
  $light: map-get($map, light);
  $dark: map-get($map, dark);
  ##{$name}{
    .left-wrapper{
      background-color:  $light;
        h3 {
          @include titleExtend($index);
          @include sp {
            left: 10px;
            right: 10px;
          }
        }
      .menu ul .select {
        background-color: $dark;
        &:after {
          background-image: url(../images/#{$name}-arrow.png);
        }
      }
    }
    .button {
      background-color: $light;
      border-bottom-color: $dark;
      &:hover {
        background-color: lighten($light, 10%);
        border-bottom-color: lighten($dark, 10%);
      }
      &:active {
        background-color: $dark;
      }
    }
  }
}

#xstus h4 {
  @include titleExtend(5);
}
#regnotifier h4 {
  @include titleExtend(6);
}
#twitokengetter h4 {
  @include titleExtend(7);
}
#translucentheader h4 {
  @include titleExtend(8);
}
#other {
  dl {
    dt {
      border-top: 1px solid #e0e0e0;
      padding: 1em 0 .25em;
      margin-bottom:.5em;
      &:first-child {
        border-top: none;
      }
    }
    dd {
      margin-bottom: 1em;
      margin-left: 0;
    }
  }
  h4 {
    @include titleExtend(9);
  }
}
#site h4 {
  @include titleExtend(10);
}
#me {
  h4 {
    @include titleExtend(11);
  }
  dl {
    padding: 0;
    position: relative;
    margin: 0 79px 0 120px;
    line-height: 1.4;
    @include sp {
      margin: 0 79px 0 10px;
    }
    dt {
      border-bottom: 3px double #ccc;
      margin: .6em 0 .2em;
      font-size: 80%;
      color: #aaa;
      padding-bottom: .2em;
    }
    dd {
      margin: 0;
    }
  }
  @at-root #avatar {
    border-radius:50%;
    border: #fff 5px solid;
    float: right;
    height: 128px;
    position: relative;
    transition: all .3s ease-in-out;
    width: 128px;
    margin: 10px 0 0 0;
    z-index: 1;
    &:hover {
      @include scale(2);
      background-color: lighten(#95a5a6, 20%);
      background-color: #fff;
      border-color: #f0f0f0;
    }
  }
  .clearfix {
    @include miniclearfix;
  }
  @at-root #bio {
    @extend %bio_arrow_box;
    margin-top: 1.5em;
    @include sp {
      margin-top: 1em;
    }
    p {
      margin: .7em .5em;
    }
    border-radius: 3px;
  }
}
#blog {
  .li_with_thum {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    li {
      @include miniclearfix;
      padding-top: 10px;
      margin-bottom: 1.2em;
      display: table;
      @include small {
        display: block;
      }
      a {
        div{
          @include miniclearfix;
          display: table;
          @include small {
            display: block;
          }
        }
        color: $text-color;
        display: block;
        border-bottom: none;
        &:hover {
          color: lighten($text-color, 20%);
          img.thum {
            opacity: .8;
          }
        }
        &::after{
          display: none;
        }
        .thum {
          width: 128px;
          height: 128px;
          margin: 0 auto;
          border-radius: 50%;
          border: 1px solid #ccc;
          padding: 3px;
          background-color: #fff;
          display: block;
          transition: all .4s ease-in-out;
          display: table-cell;
          vertical-align: middle;
          @include small {
            display: block;
          }
        }
        .description-wrapper{
          display:table-cell;
          vertical-align: middle;
          @include small {
            display: block;
            margin: 10px 0;
          }
          .description {
            @extend %blog_arrow_box;
            border-radius: 1px;
            padding: 5px .7em;
            width: 270px;
            margin-left: 20px;
            margin-top: .3em;
            @include small {
              width: auto;
              margin: 0;
              &::after,  &::before{
                content: none;
              }
            }
            h5 {
              font-size: 105%;
              margin: .2em 0;
            }
            p {
              margin: .2em 0;
            }
          }
        }
      }
    }
  }
  h4 {
    @include titleExtend(12);
  }
}
#mail {
  h4 {
    @include titleExtend(13);
  }
  @at-root #address {
    margin-left: 0;
    margin-right: 0;
  }
}
#form {
  $light: get-color(contact, light);
  $dark: get-color(contact, dark);
  h4 {
    @include titleExtend(14);
  }
  form{
    position: relative;
    &::before, &::after{
      transition: all .5s ease;
      background: transparent;
      box-shadow: none;
      content: '';
      width: 100%;
      height: 0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }
    &.send{
      &::before{
        content: '';
        width: 100%;
        height: 100%;
        display: block;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, .8);
        box-shadow:  0 0 40px 20px #fff;
        position: absolute;
        opacity: 1;
      }
      &.success::after{
        content: 'Thanks!';
      }
      &.error::after{
        content: 'Error!';
        color: #900;
      }
      &::after{
        top: 50%;
        left: 0;
        position: absolute;
        height: 1em;
        margin-top: -1em;
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
        opacity: 1;
      }
    }
    label{
      border: 1px solid #ccc;
      border-bottom-width: 0;
      &:first-of-type, &:last-of-type{
        border-radius: 2px;
      }
      &:last-of-type{
        border-bottom-width: 1px;
      }
      background: #fcfcfc;
      display: block;
      padding: .5em;
      font-size: .9rem;
      input, textarea{
        background: transparent;
        display: block;
        border: none;
        width: 100%;
        padding: .1em;
        font-size: 1rem;
        margin-top: .3em;
        outline: none;
        box-sizing: border-box;
        &:focus{
          box-shadow: 0 0 10px 2px $light;
        }
      }
      textarea{
        resize: vertical;
      }
    }
    input[type='submit']{
      @extend %button;
      border-left: none;
      border-top: none;
      border-right: none;
      border-bottom-color: $dark;
      background-color: $light;
      &:disabled{
        $p: 40%;
        border-bottom-color: desaturate($dark, $p);
        background-color: desaturate($light, $p);
      }
    }
  }
}