.hide{
	display:none !important;
}

.big-anim {
	@include scale(1.5);
	transition: .3s all ease-in-out;
}

%blog_arrow_box {
	position: relative;
	background: #eee;
	border: 3px solid #eaeaea;
	&:after, &:before {
		right: 100%;
		top: 30%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(227, 227, 227, 0);
		border-right-color: #eee;
		border-width: 10px;
		margin-top: -10px;
	}
	&:before {
		border-color: rgba(224, 224, 224, 0);
		border-right-color: #eaeaea;
		border-width: 14px;
		margin-top: -14px;
	}
}

%bio_arrow_box {
	position: relative;
	background: #f2f2f2;
	border: 3px solid #eaeaea;
	&:after, &:before {
		bottom: 100%;
		right: 68px;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(238, 238, 238, 0);
		border-bottom-color: #f2f2f2;
		border-width: 10px;
		margin-left: -10px;
	}
	&:before {
		border-color: rgba(234, 234, 234, 0);
		border-bottom-color: #eaeaea;
		border-width: 14px;
		margin-left: -14px;
	}
}