$font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$header-color: #faa;
$works-light-color: #e74c3c;
$works-dark-color: #c0392b;
$about-light-color: #1abc9c;
$about-dark-color: #16a085;
$links-light-color: #f1c40f;
$links-dark-color: #f39c12;
$contact-light-color: #3498db;
$contact-dark-color: #2980b9;
$footer-light-color: #34495e;
$text-color: #808080;

$twitter-color: #3ba2d2;
$tumblr-color: #34475a;
$foursquare-color: #288bb0;
$pinterest-color: #bf2c33;
$instagram-color: #96614c;

$column_width: 460px;
$side_margin: 10px;
