$font-family: "Lucida Grande", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
$header-color: #faa;
$footer-light-color: #34495e;
$text-color: #808080;

$twitter-color: #3ba2d2;
$tumblr-color: #34475a;
$foursquare-color: #288bb0;
$pinterest-color: #bf2c33;
$instagram-color: #96614c;

$column_width: 460px;
$side_margin: 10px;

$sections:(
    works: (
     index: 1,
     light: #e74c3c,
     dark: #c0392b
  ),
    about: (
      index: 2,
      light: #1abc9c,
      dark: #16a085
  ),
    links: (
      index: 3,
      light: #f1c40f,
      dark: #f39c12
  ),
    contact: (
      index: 4,
      light: #3498db,
      dark: #2980b9
  )
);