@import '../../../css/variables';

$scroll-down-size: 30px;
$scroll-down-border-width: 8px;
$scroll-down-border-color: color-mod(#c0392b a(70%));

.scroll-down {
  position: absolute;
  transform: rotate(45deg);
  border: $scroll-down-border-width solid $scroll-down-border-color;
  border-top: none;
  border-left: none;
  left: 50%;
  top: 85vh;
  margin-left: calc(-1 * $scroll-down-size / 2 - $scroll-down-border-width);
  width: $scroll-down-size;
  height: $scroll-down-size;
  display: block;
  transition: $default-transition;
  animation: bound .5s ease-in-out infinite alternate;
  backface-visibility: hidden;
}
