.wave {
  position: relative;
}

.wave::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath d='M0,64L26.7,69.3C53.3,75,107,85,160,85.3C213.3,85,267,75,320,80C373.3,85,427,107,480,149.3C533.3,192,587,256,640,234.7C693.3,213,747,107,800,106.7C853.3,107,907,213,960,240C1013.3,267,1067,213,1120,165.3C1173.3,117,1227,75,1280,85.3C1333.3,96,1387,160,1413,192L1440,224L1440,0L1413.3,0C1386.7,0,1333,0,1280,0C1226.7,0,1173,0,1120,0C1066.7,0,1013,0,960,0C906.7,0,853,0,800,0C746.7,0,693,0,640,0C586.7,0,533,0,480,0C426.7,0,373,0,320,0C266.7,0,213,0,160,0C106.7,0,53,0,27,0L0,0Z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  z-index: -1;
  background-color: #f6f6fc;
  bottom: 0;
}
