@tailwind base;
@tailwind components;

:root {
  --colors-50: theme("colors.originalGray.50");
  --colors-100: theme("colors.originalGray.100");
  --colors-200: theme("colors.originalGray.200");
  --colors-300: theme("colors.originalGray.300");
  --colors-400: theme("colors.originalGray.400");
  --colors-500: theme("colors.originalGray.500");
  --colors-600: theme("colors.originalGray.600");
  --colors-700: theme("colors.originalGray.700");
  --colors-800: theme("colors.originalGray.800");
  --colors-900: theme("colors.originalGray.900");
}

@media (prefers-color-scheme: dark) {
  :root {
    --colors-50: theme("colors.originalGray.900");
    --colors-100: theme("colors.originalGray.800");
    --colors-200: theme("colors.originalGray.700");
    --colors-300: theme("colors.originalGray.600");
    --colors-400: theme("colors.originalGray.500");
    --colors-500: theme("colors.originalGray.400");
    --colors-600: theme("colors.originalGray.300");
    --colors-700: theme("colors.originalGray.200");
    --colors-800: theme("colors.originalGray.100");
    --colors-900: theme("colors.originalGray.50");
  }
}

body {
  font-family: "Rubik", sans-serif;
}

@tailwind utilities;
