@tailwind base;
@tailwind components;
@tailwind utilities;

[data-rmiz-portal] [data-rmiz-modal-overlay] {
  transition: ease-in 0.2s all;
}

[data-rmiz-portal] [data-rmiz-modal-overlay="visible"] {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
}
