@charset 'utf-8';

@import '../mixin';
@import '../variables';

$sudoku-border-color: transparent;

%box-base {
  box-shadow: 1px 1px 1px 0 rgba(#000, .1), 13px 13px 0 0 rgba(#000, .3);
  background-color: rgba(#000, .15);
  border-radius: 10px;
  margin: 3rem 0;
}

body {
  background-color: lighten(desaturate(#04756F, 20%), 15%);
  font-family: $font-family;
  color: #fff;
}

.app {
  max-width: 900px;
  margin: auto;
  &__title {
    text-align: center;
    font-family: Lemon, $font-family;
    font-size: 3.5rem;
    margin: 4rem 0;
    text-shadow: 7px 7px 0 rgba(#000, .25);
  }
  &__message {
    @extend %box-base;
    padding: 1rem;
  }
}

.tables {
  @extend %box-base;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 2rem 0;
  &__problem, &__answer {
  }
  @include medium {
    flex-direction: row;
    align-items: center;
    &__problem, &__answer {
      width: 40%;
    }
    &__button {
    }
  }
}

.sudoku {
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  tbody > tr {
    &:nth-child(3n):not(:last-child) {
      border-bottom: 5px double $sudoku-border-color;
    }
    > td {
      width: 1rem;
      border: 1px solid $sudoku-border-color;
      &:nth-child(3n):not(:last-child) {
        border-right-width: 5px;
        border-right-style: double;
      }
      > input {
        width: 2rem;
        line-height: 1.5;
        font-size: 1.2rem;
        text-align: center;
        border: none;
        border-radius: 1px;
        box-shadow: 1px 1px 5px 0 rgba(#000, .3);
      }
    }
  }
}

.solve-button-wrapper {
  $arrow-size: 40px;
  $arrow-color: #FF2D00;
  $arrow-shadow-color: rgba(darken($arrow-color, 15%), .8);
  text-align: center;
  position: relative;
  &__solve-button, &:after {
    text-align: center;
    background-color: transparent;
    border: none;
    border: $arrow-size solid transparent;
    width: 0;
    height: 0;
    text-indent: 100%;
    border-top-color: $arrow-color;
    padding: 0;
    overflow: hidden;
    margin-top: $arrow-size / 2;
    position: relative;
    z-index: 2;
  }
  &:after {
    content: '';
    position: absolute;
    z-index: 1;
    left: calc(50% - #{$arrow-size});
    top: 20px;
    border-top-color: $arrow-shadow-color;
  }
  @include medium {
    &__solve-button, &:after {
      border-top-color: transparent;
      border-left-color: $arrow-color;
      margin-top: 0;
      margin-left: $arrow-size;
    }
    &:after {
      top: 0;
      left: 20px;
      border-left-color: $arrow-shadow-color;
    }
  }
}
