---
new_page_extension: md
auto_deploy: false
admin_path: ''
webhook_url: 
sections:
- type: directory
  path: content/pages
  label: pages
  create: documents
  match: "**/*.md"
  templates:
  - page
- type: directory
  path: content/blog
  label: blog
  create: documents
  match: "*.md"
  templates:
  - blog
upload_dir: public/assets/images
public_path: "/public"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
build:
  install_dependencies_command: npm install
  preview_docker_image: forestryio/node:12
  mount_path: "/srv"
  working_dir: "/srv"
  instant_preview_command: npm run develop
