@import "css/mixins";

.column {
  flex: 1 0 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
  position: relative;
  @include mqMin(md) {
    flex: 1 0 calc(50% - 2rem);
    margin: 0 1rem;
  }
}
.centering {
  justify-content: center;
}
