@import 'variables';

%marker {
  content: '';
  width: 1.4rem;
  height: 0;
  display: block;
  border-bottom: 3px double $color-accent;
  top: 13px;
  line-height: 0;
  position: absolute;
  left: -2rem;
  transition: $default-transition;
  &:hover {
  width: 1.6rem;
  }
}

$breakpoints: (
  'small': 'screen and (min-width: 480px)',
  'large': 'screen and (min-width: 960px)',
);

@mixin mq($breakpoint: small) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
