#profile {
  display: flex;
  align-items: center;
  margin: 0 0 1rem;
  & dl {
    margin: 0;
    flex-grow: 1;
    & dt {
      text-transform: uppercase;
      border-bottom: 3px double var(--accent-color);
      display: inline-block;
      padding-right: .5rem;
    }
    & dd {
      border-top: 3px double color-mod(#fff a(20%));
      margin: -3px 0 .5rem;
    }
  }
}

#avatar {
  flex-basis: 128px;
  margin: 0 1rem 0 0;
  transition: transform 1s var(--easing);
  &:hover {
    transform: rotate(360deg);
  }
}
