@import 'util';

.archives {
  list-style: none;
  > li {
    position: relative;
    &::before {
      @extend %marker;
      top: 9px;
    }
    @include mq(small) {
      div {
        margin-bottom: 2rem;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        &::after {
          content: '';
          flex-grow: 1;
          order: 2;
          border-bottom: 1px dotted $color-quaternary;
          margin: 0 1rem;
          opacity: 0;
          min-width: 1rem;
        }
        &:hover::after {
          opacity: 1;
        }
        a {
          position: relative;
          order: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        &:hover a::after {
          opacity: 1;
        }
        time {
          order: 3;
          text-align: right;
          display: inline;
        }
      }
    }
    transition: $default-transition;
    
    a, time {
      line-height: 1.2;
    }
    time {
      font-size: 1.6rem;
      display: block;
    }
  }
}
