@import 'top';
@import 'works';
@import 'about';
@import 'contact';

::selection {
  background-color: color(var(--accent-color) a(20%));
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  background-color: var(--bg-color-end);
  background: #34495e;
  background: linear-gradient(to bottom right, var(--bg-color-start), var(--bg-color-end)) fixed;
  padding: 0;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
  &.show-menu {
    overflow: hidden;
    width: 100%;
    position: relative;
  }
}

a {
  color: var(--accent-color-light);
  text-decoration: none;
  transition: var(--default-transition);
  text-shadow: 0 0 0 var(--accent-color-light);
  &:hover {
    color: color(var(--accent-color-light) l(+5%));
  }
  &:active {
    color: color(var(--accent-color-light) l(-15%));
  }
}

p {
  margin: 0 0 1rem;
}

#particles {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#container {
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}

main {
  max-width: 960px;
  margin: auto;
  & > section {
    min-height: calc(100vh - 4rem);
    padding: 2rem 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::before {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: transparent linear-gradient(to right, color(#000 a(0%)) 25%, color(#888 a(20%)) 50%, color(#000 a(0%)) 75%);
      left: 0;
      top: 0;
    }
    & h3, & h4, & h5 {
      @apply --quicksand;
      color: color(var(--text-color) l(+10%));
    }
    & h3 {
      margin: 0 0 1rem;
      font-size: 2rem;
      text-align: center;
      opacity: .9;
      font-weight: bold;
    }
    & h4 {
      font-size: 2rem;
      margin: 0 0 1rem;
      text-align: center;
      @media (--medium) {
        text-align: left;
      }
    }
    & h5 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0 0 .2rem;
    }
  }
}
