@import 'variables';
@import 'milligram/src/milligram.sass';

::selection {
  background-color: $color-accent;
  color: $color-initial;
}

body {
  font-family: $font-family;
  font-weight: normal;
  backface-visibility: hidden;
  background-color: $color-bg;
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
}

pre {
  border: none;
  position: relative;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  box-sizing: content-box;
  margin-left: calc((100% - 100vw) / 2);
  margin-right: calc((100% - 100vw) / 2);
  padding-left: calc((100vw - 100%) / 2);
  padding-right: calc((100vw - 100%) / 2);
  > code {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
    white-space: pre;
  }
}

a:any-link {
  transition: all .2s ease;
  position: relative;
  &:hover {
    color: $color-accent;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 96rem;
}

.button,
button,
input[type='button'],
input[type='search'],
input[type='reset'],
input[type='submit'] {
  border-radius: 0;
}

.button, button {
  border-radius: 999px;
  transition: $default-transition;
}

.button-wave {
  position: relative;
  &::after {
    transition: $default-transition;
    z-index: -1;
    content: '';
    height: 0;
    width: 100%;
    bottom: 50%;
    left: 0;
    position: absolute;
    border-radius: 999px;
  }
  &:hover {
    color: $color-initial !important;
    border-color: $color-primary !important;
    background: $color-primary !important;
    &::after {
      height: 100%;
      bottom: 0;
      border: 1px solid $color-primary;
      background: $color-primary;
    }
  }
}
