#global-nav {
  transition: var(--default-transition);
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 874;
  display: flex;
  flex-direction: row-reverse;
  align-items: stretch;
  width: calc(1rem + 12px);
  @media (--medium) {
    opacity: 0;
    width: auto;
    transform: translateX(100%);
    &.visible {
      opacity: 1;
      transform: translateX(0);
    }
  }
  &.show {
    width: 100%;
    /*display: flex;*/
    & ul {
      background-color: gray(5 / 85%);
      width: 100%;
      padding: 0 2rem;
      font-size: 1.1rem;
      & a {
        display: block;
      }
    }
  }
  & ul {
    transition: var(--default-transition);
    margin: 0;
    padding: 0;
    padding-right: .5rem;
    list-style: none;
    font-size: 1.1rem;
    line-height: 2;
    width: calc(12px + .5rem);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (--medium) {
      width: 100%;
      padding: 0 1rem;
    }
    & > li {
      position: relative;
      overflow: hidden;
      @media (--medium) {
        left: 0;
      }
      & a {
        transition: var(--default-transition);
        color: #f0f0f0;
        white-space: nowrap;
        text-shadow: 0 1px 1px #000;
        display: inline;
        &:hover {
          color: #fff;
        }
        &::before {
          content: '';
          position: relative;
          border: 1px solid #fff;
          border-radius: 50%;
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: .5rem;
          transition: var(--default-transition);
        }
        &.active::before {
          background-color: #fff;
        }
      }
    }
  }
}

:root {
  --toggle-menu-size: 30px;
  --toggle-menu-offset: 10px;
}

#toggle-menu {
  @media (--medium) {
    display: none;
  }
  text-indent: calc(100% + 10px);
  position: fixed;
  top: var(--toggle-menu-offset);
  right: var(--toggle-menu-offset);
  z-index: 5123;
  border: none;
  width: var(--toggle-menu-size);
  height: var(--toggle-menu-size);
  background: none;
  padding: 10px;
  outline: none;
  cursor: pointer;
  box-sizing: content-box;
  transition: var(--default-transition);
  &:hover {
    transform: scale(1.05);
  }
  &.show #toggle-menu-border {
    background-color: transparent;
    &::before, &::after {
        top: 50%;
        bottom: 50%;
        transform-origin: center;
        background-color: var(--accent-color);
      }
      &::before {
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
  }
}

:root {
  --toggle-menu-border-color: color-mod(#fff a(95%));
  --toggle-menu-border-height: 2px; 
}

#toggle-menu-border {
  margin: auto;
  display: block;
  height: var(--toggle-menu-border-height);
  position: relative;
  background-color: var(--toggle-menu-border-color);
  transition: var(--default-transition);
  top: 0;
  left: 0;
  &::before, &::after {
    transition: var(--default-transition);
    position: absolute;
    content: '';
    height: var(--toggle-menu-border-height);
    left: 0;
    display: block;
    width: 100%;
    margin: auto;
    background-color: var(--toggle-menu-border-color);
    transform-origin: right center;
  }
  &::before {
    top: calc(-1 * var(--toggle-menu-border-height) * 5);
  }
  &::after {
    bottom: calc(-1 * var(--toggle-menu-border-height) * 5);
  }
}
