.hidden {
	display:none !important;
}

.screen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  position: relative;
  max-width: 600px;
  padding: 0 3rem 0 1rem;
  @media (--medium) {
    padding: 0 1rem;
  }
  &::before {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: transparent linear-gradient(to right, color(#000 a(0%)) 25%, color(#888 a(20%)) 50%, color(#000 a(0%)) 75%);
    left: 0;
    top: 0;
  }
}

.block-anchor {
  display: block;
}

.title {
  margin: 0 0 1rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.title-icon {
  max-width: 74px;
  height: 100%;
}

.title-text {
  margin-left: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

.hexagon {
  position: relative;
  width: 128px;
  height: 74px;
  margin: 37px 0;
  background-size: auto 147.8px;
  background-position: center;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 128px;
    height: 74px;
    z-index: 2;
    background: inherit;
  }
  & .hex-top, & .hex-bottom {
    position: absolute;
    z-index: 1;
    width: 91px;
    height: 90.51px;
    overflow: hidden;
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 19px;
    backface-visibility: hidden;
    &::after, &::after {
      content: '';
      position: absolute;
      width: 128px;
      height: 73.9px;
      transform: rotate(45deg) scaleY(1.7321) translateY(-36.9504px);
      transform-origin: 0 0;
      background: inherit;
    }
  }
  & .hex-top {
    top: -45.2548px;
    &::after {
      background-position: center top;
    }
  }
  & .hex-bottom {
    bottom: -45.2548px;
    &::after {
      background-position: center bottom;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.link-list {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  & > li {
    display: inline-block;
    margin-right: 1rem;
  }
}
