:root {
  /*override millirgam variables*/
  --color-primary: #569d90;
  /*--color-primary: #97eadb;*/
  --color-initial: #fff;
  --color-secondary: #303030;
  --color-tertiary: #5e3d30;
  --color-quaternary: #d1d1d1;

  /*custom color*/
  --color-bg: #f0f0f0;
  --color-text: #fff;
  --font-family: Quicksand, 'Lucida Grande', 'Hiragino Kaku Gothic ProN',
    'Yu gothic', '游ゴシック Light', 'メイリオ', Meiryo, sans-serif;
}
